//colors///
///////////

///////////
//primary//
///////////
$red = #d31645
$green = #51b500
$brown = #65544d
$blue = #6b94ba
$light-blue = #a6c0d7

$light-red = #d50d41
$gray = #858585
$light-gray = #b2b1b1
$smoke = #f8f8f8
$yellow = #ffb400

//opacity modifier
$opacity = .3

//corners
$corner = remify(6px)

//gutters
gutter = remify(16px)

//breakpoints, mobilefirst
tabl-bk = remify(640px) // normal tablet
desk-bk = remify(980px) // normal desk
desk-lg-bk = remify(1160px) // destop large
desk-hg-bk = remify(1620px) // desktop huge
desk-in-bk = remify(1940px) // insane desktopsub